/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ==========================
   BODY
========================== */

body{
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#12081f,#1b0d2e,#2b1245);
    color:#f8f5ff;
    line-height:1.7;
}

/* ==========================
   CABEÇALHO
========================== */

header{
    text-align:center;
    padding:40px 20px;
}

header h1{
    font-size:3rem;
    color:#a855f7;
    margin-bottom:10px;
}

header h2{
    color:#ddd6fe;
    font-weight:normal;
    margin-bottom:15px;
}

header p{
    color:#c4b5fd;
}

hr{
    width:90%;
    margin:35px auto;
    border:none;
    height:2px;
    background:#9333ea;
    opacity:.4;
}

/* ==========================
   CONTEÚDO
========================== */

main{
    width:90%;
    max-width:1000px;
    margin:auto;
}

/* ==========================
   CARDS
========================== */

section{
    background:rgba(95,30,160,.18);
    backdrop-filter:blur(10px);
    padding:30px;
    border-radius:18px;
    margin:30px 0;
    box-shadow:0 10px 30px rgba(0,0,0,.4);
    transition:.4s;
}

section:hover{
    transform:translateY(-8px);
}

section h2{
    color:#c084fc;
    margin-bottom:20px;
    border-left:5px solid #9333ea;
    padding-left:10px;
}

section h3{
    color:#ede9fe;
    margin-top:20px;
}

/* ==========================
   FOTO
========================== */

img{
    display:block;
    margin:auto;
    width:220px;
    border-radius:50%;
    border:6px solid #9333ea;
    box-shadow:0 0 30px rgba(147,51,234,.6);
    transition:.5s;
}

img:hover{
    transform:scale(1.05) rotate(2deg);
}

/* ==========================
   LISTAS
========================== */

ul{
    padding-left:30px;
}

li{
    margin:12px 0;
}

/* ==========================
   LINKS
========================== */

a{
    color:#c084fc;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

a:hover{
    color:#ffffff;
    padding-left:8px;
}

/* ==========================
   FOOTER
========================== */

footer{
    text-align:center;
    padding:40px 20px;
    background:#0b0514;
    margin-top:50px;
}

footer p{
    margin:10px 0;
    color:#c4b5fd;
}

/* ==========================
   RESPONSIVO
========================== */

@media(max-width:700px){

header h1{
    font-size:2.2rem;
}

header h2{
    font-size:1.2rem;
}

section{
    padding:20px;
}

img{
    width:170px;
}

   }
